form {
	width: 700px;
	background-color: #D9D8F0; 
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	-webkit-box-shadow:2px 3px 6px rgba(0,0,0,0.3); 
	-moz-box-shadow:2px 3px 6px rgba(0,0,0,0.3); 
	border-radius:2px;
	border:1px solid #eee;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background: -moz-linear-gradient(top,  #fff,  #eee);
}

input, label {
	display: inline-block;
	width: auto;
}

label {
		font-family: Nobile;
	text-align: left;
}

input {
	width: auto;
}

input[type=submit]{
	background-color: white;
}

input[type=text] {
	width: 500px;
}

ul, li {
	font-family: Nobile;
	padding-left: 20px;
	text-align: left;
	marign-left: 10px;
}

a {
	color: #333;
	font-family: Nobile;
	font-size: 18px;
}