#friendlist li, #friendlist li a, #friendlist li a:visited {
    padding:25px;
	color:rgba(223,181,122,1);
}

#friendlist form {
    display:inline;
    float:right;
}

div#content ul li img {
	width: 50px;
	height: auto;
}

.thumbnail_pic {
	bottom:0;
}