#friendlist li, #friendlist li a, #friendlist li a:visited {
    padding:25px;
	color:rgba(220,137,19,1.0);;
	height: 100px;
}

#friendlist {
	min-height:400px;
}

#friendlist form {
    display:inline;
	width:400px;
}

div#content ul li img {
	width: 50px;
	height: auto;
}

.thumbnail_pic {
	bottom:0;
}