#friendlist li, #friendlist li a, #friendlist li a:visited {
    padding:25px;
	color:rgba(223,181,122,1);
	height: 100px;
}

#friendlist {
	height:400px;
}

#friendlist form {
    display:inline;
	width:400px;
}

#friendlist form  input{
	
}

div#content ul li img {
	width: 50px;
	height: auto;
}

.thumbnail_pic {
	bottom:0;
}