article aside{
	width: auto;
}

form input {
	border: 1px solid #03588C;
	-moz-box-shadow: 0px 0px 6px #03588C;
	margin: 6px;
	font-size: 18px;
	display:inline-block;
	width:250px;
}

aside form {
	text-align: right;
	width: 400px;
	display: block;
	background-color: #D9D8F0;
	-webkit-box-shadow:2px 3px 6px rgba(0,0,0,0.3); 
	-moz-box-shadow:2px 3px 6px rgba(0,0,0,0.3); 
	border-radius:2px;
	border:1px solid #eee;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background: -moz-linear-gradient(top,  #fff,  #eee);
}

form label {
	text-align: left;
	font-size: 17px;
	display:inline-block;
	width: 100px;
}

#content {
	font-family: lucida bright;
	padding: 5px;
	margin-top: 50px;
	text-align: center;
	border: none;
}

input[type="submit"] {
	background-color: white;
	display:inline-block;
}

#aside {
	width:450px;
	float: left;
}

article aside {
	padding: 50px;
	background-color: white;
}

#right {
	text-align: center;
	padding: 20px;
	background: transparent;
	width: auto;
	font-size: 30px;
}

#right a {
	font-size: 40px;
}