/* Header Page CSS */
@font-face {
	font-family: calibri;
	src: url('../font/CALIBRI.ttf');
}
html {
	background-color: #F2EEEB;
}
header, footer {
	display: block;
	margin: 0px;
    text-align:right;
}
header {
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	background-color: #3BB2BF;
	border-bottom: 2px solid #03588C;
	height: 60px;
}

footer {
	background-color: #03588C;
	float: bottom;
	border: 1px solid black;
	font-size: 15px;
	padding: 4px;
	width: auto;
}

header img {
	border: none;
	margin: 4px;
	float:left;
}

header a {
	text-decoration:none ;
	padding: 0px 5px 0px 5px;
	color: black;
}

header ul li {
	font-family: calibri;
	display: inline;
	list-style-type: none;
	padding: 0px 5px 0px 5px;
}

nav ul {
	font-family: calibri;
	display: inline;
	width: 100%;
	margin-right: 80px;
}

nav ul li ul li {
	margin: 0px;
	float: left;
}


h1{
	font-family: calibri;
	padding: 0px 5px 0px 5px;
	margin: 15px;
	display: inline;
	width: auto;
	font-size: 0.9cm; 
	color: #8EB4E6;
}

div#title { 
	border: 1px solid black;
}

/* Subject Page CSS */
nav#subjects {
	padding: 0px 5px 0px 5px;
	margin: 0px;
	border: 2px solid black;
	display: block;
}

nav#subjects ul li{
	display: inline;
	list-style-type: none;
	padding: 5px 6px 5px 6px;
}

nav#subjects, #upload {
	display: block;
}

nav#subjects li img {
	width: 25px;
	height: 25px;
	margin: 2px;
	float: top;
}

nav#subjects li a {
	font-family: calibri;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}

nav#subjects li a p {
	width: auto;
	display: table-row;
	color: black;
}

#years {
}

#years ul li {
	padding: 5px 3px 5px 3px; 
}

#recommended {
}

#recommended ul li {
	padding: 5px 3px 5px 3px;
}

#papers {
    padding: 205px 197px 205px 197px;
}

#subject_upload ul li {
	display: inline-block;
}

#upload {
	padding: 25px 21px 25px 21px; 
}

#external links {
}

#external links {
	padding: 15px 11px 15px 11px;
}

#ul_inp_field {
	size="50";
}

#ul_inp_fieldname {
	align: right;
}

article aside {	
    font-family: calibri;
	width:250px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	padding: 0px 5px 0px 5px;
	margin-right: 4px;
	background-color: white;
	height: inherit;
	display: block;
}

div#content{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	font-family: calibri;
}

section#subjects ul img {
	margin: 3px;
	height: 45px;
	width: 45px;
	text-decoration: none;
}

article {
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orientation: horizontal;
	-moz-box-orientation: horizontal;
	background-color: white;
	width: 100%;
	min-height: 500px;
	border-right: 2px solid black;
}

article aside section h1 {
	font-size: 1em;
	background-color: #FFEBC3;
	padding: 4px;
}

article section {
	font-family: calibri;
	margin: 5px;
}

#content section {
	display: block;
	background-color: #03588C;
}

/* news feed */
#wall_content_data img {
	width:50px;
	height:50px;
}

#wall_content_data li {
	list-style-type:none;
	background-color:#eee;
}
#wall_content_data span {
	font-size:13px;
	color:#888;
	display:block;
}
#wall_content_data em {
	font-weight:bold;
}

.subject {
	list-style-type: none;
	display: inline;
}

form textarea {
	border: 1px solid #03588C;
	-moz-box-shadow: 0px 0px 6px #03588C;
}

input[type="submit"] {
	background-color: white;
}