/* Header Page CSS */
html {
	background-color: #F2EEEB;
}
header, footer {
	display: block;
	width: 100%;
	text-align: left;
	margin: 0px;
    	
}
header {
	background-color: #3BB2BF;
	border-bottom: 2px solid #03588C; 
}

footer {
	background-color: #03588C;
	float: bottom;
}

header img {
	border: none;
	margin: 4px;

}

header a {
	text-decoration:none ;
	padding: 0px 5px 0px 5px;
	color: black;
}

header ul li {
	font-family: lucida bright;
	display: inline;
	list-style-type: none;
	padding: 0px 5px 0px 5px;
}

header ul, nav {
	font-family: lucida bright;
	display: inline;
	width: 100%;
}

h1#title {
	font-family: lucida bright;
	background-color: light brown;
	padding: 0px 5px 0px 5px;
	margin: 15px;
	display: block;
	font-size: 1.3cm; 
}

/* Subject Page CSS */
nav#subjects {
	padding: 0px 5px 0px 5px;
	margin: 0px;
	border: 2px solid black;
	display: block;
}

nav#subjects ul li{
	display: inline;
	list-style-type: none;
	padding: 5px 6px 5px 6px;
}

nav#subjects, #upload {
	display: block;
}

nav#subjects li img {
	width: 25px;
	height: 25px;
	margin: 2px;
	float: top;
}

nav#subjects li a {
	font-family: lucida bright;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}

nav#subjects li a p {
	width: auto;
	display: table-row;
	color: black;
}

#years {
}

#years ul li {
	padding: 5px 3px 5px 3px; 
}

#recommended {
}

#recommended ul li {
	padding: 5px 3px 5px 3px;
}

#papers {
    padding: 205px 197px 205px 197px;
}

#subject_upload ul li {
	display: inline-block;
}

#upload {
	padding: 25px 21px 25px 21px; 
}

#external links {
}

#external links {
	padding: 15px 11px 15px 11px;
}

article aside {	
    font-family: lucida bright;
	width:200px;
	border-right: 2px solid black;
	padding: 0px 5px 0px 5px;
	margin-right: 4px;
	background-color: white;
}

div {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}

article {
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orientation: horizontal;
	-moz-box-orientation: horizontal;
	background-color: white;
	width: 100%;
	min-height: 500px;
	border-left: 2px solid black; 
	border-right: 2px solid black;
}

article aside section h1 {
	font-size: 1em;
	background-color: #FFEBC3;
	padding: 4px;
}

article section {
	font-family: lucida bright;
	border-bottom: 2px solid black;
}