#account {
	position: absolute;
}

header nav ul li:hover {
	background-color: #9dd8df;
}

#account ul {
	display: none;
	background-color: #3BB2BF;
	border-bottom: 2px solid #03588C; 
	padding: 0px;
	width: 180px;
}

#account ul  li {
	display: block;
	padding: 4px;
}

#account:hover ul {
	display: block;
	position: absolute;
}

nav ul {
	position: absolute;
	float: right;
}

nav ul li ul li {
	border-top: 2px solid #03588C; 
}
