
aside section>ul {
	list-style-type: none;
	padding: 0px;
}

aside section  li {
	margin: 3px;
}

aside section ul li#submenu {
	background-color: #3BB2BF;
}

aside section li#submenu ul {
	background-color: white;
	margin:0px;
	overflow:hidden;
	height: 0px;
}

aside section li#submenu:hover ul {
	height: auto;
	-webkit-transition: height 1s linear;
}

.friend img{
	width: 50px;
	border: 2px solid black;
	display: block;
}

.friend {
	display: inline-block;
	margin: 3px;
	text-align: center;
}

.friend a {
	color: black;
}

.friend:hover a {
	color:white;
}

.friend:hover {
	background-color: #03588C;
}
