#profile_sidebar {
	position:relative;
	-webkit-box-flex: 0.4;
	-moz-box-flex: 1;
	font-family: Nobile;
	padding: 10px;
	-webkit-box-shadow:2px 3px 6px rgba(0,0,0,0.3); 
	-moz-box-shadow:2px 3px 6px rgba(0,0,0,0.3); 
	border-radius:2px;
	border:1px solid #eee;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background: -moz-linear-gradient(top,  #fff,  #eee);
	
}

h1 {
	color:rgba(223,181,122,1);
}

#profile_sidebar ul > li {
	margin-top:10px;
}

aside section>ul {
	list-style-type: none;
	padding: 0px;
}

aside section  li {
	margin: 3px;
}

.friend img{
	width: 50px;
	border: 2px solid black;
	display: block;
}

.friend {
	display: inline-block;
	margin: 3px;
	text-align: center;
}

.friend a , .friend a:visited{
	color: rgba(223,181,122,1);;
}

.friend:hover a {
	color:white;
}

.friend:hover {
	background-color: #03588C;
}
