article aside{
	width: auto;
	 border: 0px solid black;
}

form input {
	border: 1px solid #03588C;
	-moz-box-shadow: 0px 0px 6px #03588C;
	margin: 6px;
	font-size: 18px;
	display:inline-block;
	width:630px;
}

form {
	text-align: right;
	width: 850px;
	display: block;
	background-color: #D9D8F0;
	border-radius: 10px;
	-webkit-box-shadow:2px 3px 6px rgba(0,0,0,0.3); 
	-moz-box-shadow:2px 3px 6px rgba(0,0,0,0.3); 
	border-radius:2px;
	border:1px solid #eee;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background: -moz-linear-gradient(top,  #fff,  #eee);
}

form label {
	text-align: right;
	font-size: 17px;
	display:inline-block;
	width: 200px;
}

#content {
	font-family: lucida bright;
	padding: 5px;
	margin-top: 50px;
	text-align: center;
	width:850px;
	margin-left:auto;
	margin-right:auto;
}

input[type="submit"] {
	background-color: white;
	display:inline-block;

}
