form input {
	border: 1px solid #03588C;
	-webkit-box-shadow: 0px 0px 6px #03588C;
	-moz-box-shadow: 0px 0px 6px #03588C;
	margin: 6px;
	font-size: 18px;
}

form {
	text-align: right;
	width: 535px;
	display: block;
	background-color: #D9D8F0;
}

form label {
	text-align: left;
	font-size: 17px;
}

#content {
	font-family: lucida bright;
	padding: 5px;
	border-left: 3px solid black;
	text-align: left;
}

input[type="submit"] {
	background-color: white;
}