<!DOCTYPE html>
<html>
{% include templates/head.html %}
<body>
{% include templates/header.html %}
	<h1>{{ title }}</h1>
<article>
<div id="content" style="">
	<div id="left">
		<form method="POST" action="change_password" enctype="multipart/form-data"> 
			<label for="password">Enter Old Password: </label>
			<input type="password" name="old_password" />
			<label for="password">Enter New Password: </label>
			<input type="password" name="new_password1" />
			<label for="password">Re-enter New Password: </label>
			<input type="password" name="new_password2" />
			<input style="width:160px;" type="Submit" value="Change Password" name="submit" />
		</form>
	</div>
	<div id="right">
		<p class="message">{{ output }}</p>
	</div>
</div>
</article>
{% include templates/footer.html %}
</body>
</html>
