<!DOCTYPE html>
<html>
{% include templates/head.html %}
<body>
{% include templates/header.html %}
	<h1>{{ title }}</h1>
<article>
<aside>
Aside of main content
</aside>
<div id="content">
	<form method="POST" enctype="multipart/form-data">
		<input type="hidden" name="ul_flag" value="True">
		<p>Edit File info for: {{ thefilename }}</p>
		<label>File Name:</label>
		<input type="text" name="filename" value="{{ thefilename }}">
		<label>Subject:</label>
		<input type="text" name="subject" value="{{ thefilesbjct }}">
		<label>Description:</label>
		<input type="text" name="description" value="{{ thefiledescr }}">
		<label>File:</label>
		<input type="file" name="to_upload" size="66">
		<input type="submit" name="submit">
	</form>
</div>
</article>
{% include templates/footer.html %}
</body>
</html>
