<!DOCTYPE html>
<html>
{% include templates/head.html %}
<body>
{% include templates/header.html %}
	<h1>{{ title }}</h1>
<article>
<aside>
Aside of main content
</aside>
<div id="content">
	<form method="POST" enctype="multipart/form-data">
		<input type="hidden" name="ul_flag" value="True">
		<p>{{ ul_err_msg }}</p>
		<label>Subject:</label>
		<input type="text" class="ul_inp_field" name="subject">
		<label>Description:</label>
		<input type="memo" class="ul_inp_field" name="description">
		<label>File:</label>
		<input type="file" class="ul_inp_field" name="to_upload" size="66">
		<input type="submit" name="submit">
	</form>
</div>
</article>
{% include templates/footer.html %}
</body>
</html>
