<!DOCTYPE html>
<html>
{% include templates/head.html %}
<body>
{% include templates/header.html %}
	<h1>{{ title }}</h1>
<article>
<div id="content">
	<div id="uploadform">
	<form method="POST" enctype="multipart/form-data">
		<input type="hidden" name="ul_flag" value="True">
		<p>{{ ul_err_msg }}</p>
		<label>Subject:</label>
		<br/>
		<ul>
			{% for f in ulsubjects %}
			<li><input type="radio" name="subject" value="{{ f[0] }}"><label>{{ f[1] }}</label></li>
			{% end for %}
		</ul>
		<label>Category:</label>
		<br/>
		<ul>
			{% for f in ulcategories %}
			<li><input type="radio" name="category" value="{{ f }}"><label>{{ f }}</label></li>
			{% end for %}
		</ul>
		<label>Description:</label>
		<input type="text" name="description"><br>
		<label>File:</label>
		<input type="file" id="file" name="to_upload" size="66">
		<input type="submit" name="submit" value="Upload">
	</form>
</div>
</article>
{% include templates/footer.html %}
</body>
</html>
