<!DOCTYPE html>
{% include templates/head.html %}
<body>
{% include templates/header.html %}
<h1>Friends</h1>
<article>

    {% include templates/user_profile_pic.html %}

    <div id="content">
        
        <ul id="friendlist">
        {% for friend in friends %}
			<form action="/friendsdelete/{{ friend.get_username() }}" method="POST">
				<li>
                <img class='thumbnail_pic' src='{{ friend.get_profile_pic_path() }}' />
                <a href="/profile/{{ friend.get_username() }}">{{ friend.get_first_name() + ' ' + friend.get_last_name() }}</a>
                <input type="submit" value="Remove" />
				</li>
			</form>
        {% end for %}
        </ul>
    </div>
</article>

{% include templates/footer.html %}
</body>
</html>
