<header>
	<a href=''><img src='static/images/logo3.png' alt='Cheatr'></a>
		<nav>
			<ul>
				<li>
					<a href="/private_messages">Private Messages</a>
				</li>
				<li>
					<a href="/profile/{{ user }}">Profile</a>
				</li>
				
				<li id ='account'>	
					<a href="/account">Account</a>
					<ul>
						<li>
							<a href='/changepassword'>Change Password</a>
						</li>
						<li>
							<a href='/logout'>Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
</header>
