<head>
	<title>Cheatr</title>
	<link rel="shortcut icon" href="../static/images/favicon.ico" />
	<link href='http://fonts.googleapis.com/css?family=Nobile:regular,italic,bold' rel='stylesheet' type='text/css'>
	<script src="/static/js/prototype.js"></script>	
	<link rel='stylesheet' href='/static/css/reset.css' type='text/css'>
	<link rel='stylesheet' href='/static/css/main.css' type='text/css'>
	<link rel='stylesheet' href='/static/css/nav.css' type='text/css'>	
	<link rel='stylesheet' href='/static/css/subject.css' type='text/css'>
	<link rel='stylesheet' href='/static/css/friends.css' type='text/css'>
	<link rel='stylesheet' href='/static/css/fileupload.css' type='text/css'>
	<link rel='stylesheet' href='/static/css/{{css}}.css' type='text/css'>
</head>
