<header>
	<a href=''><img src='/static/images/logo3.png' alt='Cheatr'></a>
		<nav>
			<ul>
				<li>
					<a href="/private_messages">Private Messages</a>
				</li>
				
				<li>
					<a href="/profile/{{ user }}">Profile</a>
				</li>
				
				<li id ='account'>	
					Account
					<ul>						
						<li>
							<a href='/update_info?name={{ user }}'>Edit Profile</a>						
						<li>
							<a href='/logout'>Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
</header>
