<header>

	<a href='/'><img class="h-logo" src='/static/images/headerlogo.png' alt='Cheatr'></a>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/profile">Profile</a>
				</li>
				<li>
					<a href="/files">Notes</a>
				</li>
				<li>
					<a href="/files/upload">Upload</a>
				</li>
				<li>
					<a href="/friends">Friends</a>
				</li>
				<li>
					<a href="/subjects">Subjects</a>
				</li>
				<li id ='account'>	
					My Account
					<ul>						
						<li>
							<a href="/update">Edit Profile</a>	
						</li>
						<li>
							<a href="/change_password">Change Password</a>
						</li>
						<li>
							<a href="/logout">Logout</a>
						</li>
					</ul>
				</li>
			</ul>
                        
            {% if user %}
                <p id="logged_in">You are currently logged in as {{ user.get_username() }}</p>
            {% end if %}
		</nav>

        
		</nav>
</header>
