<!DOCTYPE html>
<html>
{% include templates/head.html %}
<body>
{% include templates/header.html %}
	<div id='title' > <h1>Welcome back {{ firstname + ' ' + lastname}} </h1> </div>
	
<article>

<aside>
Aside of main content
</aside>
<div id='content'>
Articles
The chicken (Gallus gallus domesticus) is a domesticated fowl, a subspecies of the Red Junglefowl. As one of the most common and widespread domestic animals, and with a population of more than 24 billion in 2003,[1] there are more chickens in the world than any other species of bird. Humans keep chickens primarily as a source of food, consuming both their meat and their eggs.

Recent evidence suggests that domestication of the chicken was already under way in Thailand,[2] Vietnam and the South East Asian jungles over 10,000 years ago, and spread into neighboring regions to the east such as China, and towards the west in India where it was conventionally thought to have been domesticated [3] From India the domesticated fowl made its way to the Persianized kingdom of Lydia in western Asia Minor, and domestic fowl were imported to Greece by the fifth century BC.[4] Fowl had been known in Egypt since the 18th Dynasty, with the "bird that lays every day" having come to Egypt from the land between Syria and Shinar, Babylonia, according to the annals of Tutmose III.[5]
</div>
</article>
{% include templates/footer.html %}
</body>
</html>
