<!DOCTYPE html>
<html>
{% include templates/head.html %}
<body>
{% include templates/header.html %}
<article>

<aside>
<a href='/profile/'>
	<img id='profile_pic' src='{{user.get_profile_pic_path()}}'>
	<h3>{{firstname}} {{lastname}} ({{user.get_username()}})</h3>
</a>
</aside>

<div id='content'>
	<section id='subjects'>
		Subjects
		<ul>
			{% for subject in subjects %}<li class="subject">{{ ' ' }}<a href='/{{ subject }}.html'><img src='/static/images/{{ subject }}-icon.png'></a></li>{% end for %}
		</ul>
	</section>
{% include templates/wall.html %}
</div>
</article>

{% include templates/footer.html %}
</body>
</html>
