<!DOCTYPE html>
<html>
{% include templates/head.html %}
<body>
{% include templates/header.html %}
	<h1>{{ title }}</h1>
<article>
<aside>
	<section>
		<p>Account Info</p>
		<ul>
			<li><img src="{{ profile_pic_location }}" width ="180px" /></li>
			<li>Username: {{ username }}</li>
			<li>Email: {{ email }}</li>
			<li><strong>Education</strong>
				<ul>
					<li>School: {{ school }}</li>
					<li>Subjects: {{ subjects }}</li>
					<li>State: {{ state }}</li>
					<li>Grade: {{ grade }}</li>
				</ul>
			</li>
			<li><strong>Activities And Interests</strong>
				<ul>
					<li>Favourite Music: {{ favourite music }}</li>
					<li>Favourite TV Shows: {{ favourite tv shows }}</li>
					<li>Favourite Sports: {{ favourite sports }}</li>
					<li>Hobbies: {{ hobbies }}</li>
					<li>Activities: {{ activities }}</li>
					<li>Interests: {{ interests }}</li>
				</ul>
			</li>
			<li><strong>About Me</strong>
				<ul>
					<li>About Me: {{ about me }}</li>
					<li>Birthday: {{ birthday }}</li>
					<li>Age: {{ age }}</li>
					<li>Website: {{ website }}</li>
				</ul>
			</li>
			
		
		
		</ul>
		
	</section>
	<section>
		<p>Friends</p>
	</section>
	<section>
		<p>Chat</p>
	</section>

</aside>
<div id="content">
{{ content }}
</div>
</article>
{% include templates/footer.html %}
</body>
</html>
