<!DOCTYPE html>
<html>
{% include templates/head.html %}
<body>
{% include templates/header.html %}
	<h1>{{ title }}</h1>
<article>
<aside>
	<section>
		<p>Account Info</p>
		<ul>			
			{% if profile_pic_location != "" %}<li><img src="{{ profile_pic_location }}" width ="180px" /></li>{% end if %}
			{% if profile_pic_location == "" %}<li><img src="/static/photos/Default/default_male.jpg" width ="180px" /></li>{% end if %}
			<li>Username: {{ username }}</li>
			<li>Email: {{ email }}</li>		
			<li id="submenu">Education
				<ul>
					{% for thing in education.keys() %}					
						<li>{{ thing.capitalize() }}: {{ education[thing] }}</li>
					{% end for %}
				</ul>
			</li>
			<li id="submenu">Activities And Interests
				<ul>
					{% for interest in interests.keys() %}					
						<li>Favourite {{ interest.capitalize() }}: {{ interests[interest] }}</li>
					{% end for %}
				</ul>
			</li>
			<li id="submenu">About Me
				<ul>
					{% for thing in about.keys() %}					
						<li>{{ thing.capitalize() }}: {{ about[thing] }}</li>
					{% end for %}
				</ul>
			</li>
		</ul>
	</section>
	<section>
		<p>Friends</p>
		<ul>
		{% for f in friends %}<li class="friend"><a href="/profile/{{ f }}">
		{% if f.get_profile_pic_path() %}
		<img src="{{ f.get_profile_pic_path() }}"> {{f.get_username()}}</a></li>
		{% end if %}
		{% if not f.get_profile_pic_path() %}
		<img src="/static/images/default_avatar.jpeg"> {{f.get_username()}} </a></li>
		{% end if %}
		{% end for %}
		
		</ul>
	</section>
	<section>
		<p>Chat</p>
	</section>

</aside>
<div id="content">
{%include templates/wall.html %}
</div>
</article>
{% include templates/footer.html %}
</body>
</html>
