<!DOCTYPE html>
{% include templates/head.html %}
<body>
{% include templates/header.html %}
<h1>Subjects</h1>
<article>
	<div id="content">
<br />
<!--<li><a href="http://localhost:8888/subject" + {{subject_name}}></li>-->

<!--{% if len(subjectlist)>2 %}-->

<!--{% end if %}-->
		<div id="subjects">
			{% for i in subjectlist %}
				<div>
				<p><a href="/subject/{{ i.get_id() }}">{{ i.get_name().replace("_"," ") }}</a></p>
				<p>{{ i.get_grade()}}, {{ i.get_jurisdiction() }}.</p>
				</div>
			{% end for %}
		</div>
	</div>
</article>

     
{% include templates/footer.html %}
</body>
</html>
