<!DOCTYPE html>
<html>
	{% include templates/head.html %}

	<body>
		
		{% include templates/header.html %}
		<h1 id='title'>{{ subject.name.replace("_"," ") }}</h1>
		<article>
		<aside id="info">
			<div id="profilepic"
			<section id="subject-info">
				
				<div id="membership">
					{% if not user.is_in_subject(int(subject.id)) %}
					<form method="POST" action="/subject/join/{{ subject.id }}">
						<input type="submit" value="Join Subject" />
					</form>
					{% end if %}
					{% if user.is_in_subject(int(subject.id)) %}
					<form method="POST" action="/subject/leave/{{ subject.id }}">
						<input type="submit" value="Leave Subject">
					</form>
					{% end if %}
				</div>
			</section>
			<section id="description">
				<dl>
				<dt>Description</dt><dd>{{ subject.description }}</dd>
				<dt>State</dt><dd>{{ subject.jurisdiction }}</dd>
				<dt>Faculty Area</dt><dd>{{ subject.KLA }}</dd>
				</dl>
			</section>
			<section id="members">
			{% if subject.has_member(user) %}
			<h1>Members</h1>
				{% for member in subject.get_members() %}
				<p>{{ member.get_first_name() }} {{ member.get_last_name() }}</p>
				{% end for %}
			{% end if %}
			</section>
			</div>
		</aside>
		<div id="study">
			
			<section id="resources">
				<h1>Resources</h1>
				<nav>
					<ul>
						<li><a href="/subject/{{ subject.id }}/All/1">All</a></li>
						<li><a href="/subject/{{ subject.id }}/Notes/1">Notes</a></li>
						<li><a href="/subject/{{ subject.id }}/Exercises/1">Exercises</a></li>
						<li><a href="/subject/{{ subject.id }}/Papers/1">Past Papers</a></li>
					</ul>
				</nav>
				
				{% if len(all_resources) %}
				<section id="top-resources">
					<h2>Top Resources</h2>
					<section>
						<ul id="fileslist">
						{% for resource in top_resources %}
							<li>
								<img src="/static/images/{{ resource.category }}.png">
								<a href="/static/files/{{ resource.fileid }}" target="_blank">{{ resource.ori_filename }}</a><span class="rating">Rated: {{resource.rank}}</span>
								<p>{{ resource.getsubjectname() }} - {{ resource.description }}</p>
							</li>
						{% end for %}
						</ul>
					</section>
				</section>
				<section id="all-resources">
					<h2>All Resources</h2>
					<section>
						<ul id="fileslist">
						{% for resource in all_resources %}
							<li>
								<img src="/static/images/{{ resource.category }}.png">
								<a href="/static/files/{{ resource.fileid }}" target="_blank">{{ resource.ori_filename }}</a><span class="rating">Rated: {{resource.rank}}</span>
								<p>{{ resource.getsubjectname() }} - {{ resource.description }}</p>
							</li>
						{% end for %}
						</ul>
					</section>
				</section>
				{% end if %}
				
				{% if not len(all_resources) %}
				<section id="all-resources">
					<section>
						<p>No resources of this type attached to this subject</p>
					</section>
				</section>
				{% end if %}
				
			</section>
			<div style="width:950px;">
			<section id="social">
				<section id="wall">
					<h1>Wall</h1>
					{% include templates/wall.html %}
				</section>
			</section>
			</div>
		</div>
			
		</article>
			 
		{% include templates/footer.html %}
	</body>

</html>
