<!DOCTYPE html>
{% include templates/head.html %}
<body>
{% include templates/header.html %}
<h1>{{ title }}</h1>
<article>
<aside>

</aside>

<div id="content" style="color: #ffffff">
<section>
<h1>Subject Creation Field</h1>
<form method="POST">
{% if enablebutton==False %}
	{{notification}}
{% end if %}
Subject name: <input type="text" name="name" value=""/>
<p>
<input type="radio" name="KLA" value=1> Mathematics
</p>
<p>
<input type="radio" name="KLA" value=2> Computing
</p>
<p>
<input type="radio" name="KLA" value=3> Science
</p>
<p>
<input type="radio" name="KLA" value=4> Social Science
</p>
<p>
<input type="radio" name="KLA" value=5> English/Philosophy
</p>
<p>
<input type="radio" name="KLA" value=6> Languages
</p>
<p>
<input type="radio" name="KLA" value=7> Other
</p>
</section>
<p style="color: #000000">
Grade: <input type="text" name="grade" value="" /> 
Jurisdiction: <input type="text" name="jurisdiction" value="" /> 
</p>
<p style="color: #000000">
Description of the Course:
</p>
<p style="color: #000000">
<textarea rows="3" cols="50" name="description"> </textarea> <br />
Max word limit: 255
</p>
<p>
<input type="reset" name="reset" value=Reset>
<p>
<input type='submit' value='Submit Selection'>
</p>
</form>
</div>
</article>

     
{% include templates/footer.html %}
</body>
</html>
