<!DOCTYPE html>
<html>
<head>
	<title>Subjects</title>
	<link rel='stylesheet' href='static/css/main.css' type='text/css'
</head>
<body>
	<header>
	<a href=''><img src='' alt='Cheatr'></a>
		<nav>
			<ul>
				<li>
					<a href="/private_messages">Private Messages</a>
				</li>
				<li>
					<a href="/profile">Profile</a>
				</li>
				<li>	
					<a href="/account">Account</a>
				</li>
			</ul>
		</nav>
	</header>
	<h1 id='title'>Subject Name</h1>
	<nav id='subjects'>
		<ul>
			<li>
				<a href=''>
					<img src=''>
					<p>Subject 1</p>
				</a>
			</li>
			<li>
				<a href=''>
					<img src=''>
					<p>Subject 2</p>
				</a>
			</li>
		</ul>
	</nav>

	<article>
			<aside>
			<section id="years">
				<h1>Past Papers</h1>
				<ul>
					<li>
						2010
					</li>
					<li>
						2009
					</li>
				</ul>
			</section>
			
			<section id="recommended">
				<h1>Recommended Papers</h1>
				<ul>
					<li>
						5/5
					</li>
					<li>
						4/5
					</li>
					<li>
						3/5
					</li>
					<li>
						2/5
					</li>
					<li>
						1/5
					</li>
				</ul>
			</section>
		</aside>
		
		<section id="upload">
			Upload
		</section>
		
		<section id="papers">
			Past Papers
		</section>
		
		<section id="external links">
			External Links
		</section>
	</article>
	<footer>
		blah
	</footer>
</body>
</html>