<!DOCTYPE html>
{% include templates/head.html %}
<body>
{% include templates/header.html %}
<h1>Subjects</h1>
<article>
<div id="content">
<br />
<!--<li><a href="http://localhost:8888/subject" + {{subject_name}}></li>-->

<!--{% if len(subjectlist)>2 %}-->

<!--{% end if %}-->

{% for i in subjectlist %}
	<p><a href="/subject/{{ i.get_id() }}">{{ i.get_name() }}</a><br />
	{{ i.get_grade()}}, {{ i.get_jurisdiction() }}.</p>
	<br />
{% end for %}
<form action="/subject">
<br /> 
<input type="submit" value="Add a Subject">
</form>
</div>
</article>

     
{% include templates/footer.html %}
</body>
</html>
