<!DOCTYPE html>
<html>
{% include templates/head.html %}
<body>
{% include templates/header.html %}
	<h1>{{ title }}</h1>
<article>
<div id="content" style="">
	<form method="POST" action="update" enctype="multipart/form-data"> 
		<input type="hidden" name="username" value="{{ username }}" />
		<label for="firstname">First Name: </label>
		<input type="text" value="{{ firstname }}" name="firstname" />
		<label for="lastname">Last Name: </label>
		<input type="text" value="{{ lastname }}" name="lastname" />
		<label for="email">Email: </label>
		<input type="text" value="{{ email }}" name="email" />
		<label for="school">Current School: </label>
		<input type="text" value="{{ school }}" name="school" />
		<br>
		<label for="file">Upload Profile Picture:</label>
		<input style="width:111px;" type="file" name="photo" size="20"><br>
		<input style="width:100px;" type="Submit" value="Update" name="submit" />
	</form>
</div>
</article>
{% include templates/footer.html %}
</body>
</html>
