    <aside>
		<div id="profilepic"
        <a href='/profile/'>
			{% if user.get_profile_pic_path() %}
				<img id='profile_pic' src='{{user.get_profile_pic_path()}}' />
			{% end if %}
			{% if not user.get_profile_pic_path() %}
				<img id='profile_pic' src='/static/images/default_avatar.jpeg' />
			{% end if %}
            <h3>{{ user.get_first_name() }} {{ user.get_last_name() }} ({{ user.get_username() }})</h3>
             
         
        </a>
        <h3>Add Friend:</h3>
        <form name="input" action="/addfriendemail" method="get">
            E-mail: <input type="text" name="email" id="email"/>
            <input type="submit" value="Submit"/>
        </form>
		</div>
    </aside>