    <aside>
        <a href='/profile/'>
			{% if user.get_profile_pic_path() %}
				<img id='profile_pic' src='{{user.get_profile_pic_path()}}' />
			{% end if %}
			{% if not user.get_profile_pic_path() %}
				<img id='profile_pic' src='/static/images/default_avatar.jpeg' />
			{% end if %}
            <h3>{{ user.get_first_name() }} {{ user.get_last_name() }} ({{ user.get_username() }})</h3>
            <form name="input" action="html_form_action.asp" method="get">
                Username: <input type="text" name="user" />
                <input type="submit" value="Submit" />
            </form> 
        </a>
    </aside>