

	<form id="message" action="/submit?user={{user.get_username()}}" method=POST>
	<textarea id="msg" placeholder="Write a message..." name="msg"></textarea>
	<input type="hidden" value="{{current_Wall}}" name="current_Wall"/>
	<input type="submit" value="Submit" id="submit"/></form>
	<div id="wallcontent"></div>
	
<script src="../static/js/prototype.js"></script>	
	<script type="text/javascript">	
	Event.observe(window, 'load',init,false);
	function init(){
	Event.observe('message','submit',submit);
	new Ajax.PeriodicalUpdater('wallcontent', '/{{wallorfeed}}', {
		method: 'post', frequency: 5, decay: 0,
		parameters: {'current_Wall':'{{current_Wall}}','user':'{{user.get_username()}}'},
		});
	}
	
		function submit(e){
$('message').request();
	new Ajax.Updater('wallcontent','/{{wallorfeed}}',{
			method: 'post',
			parameters: {'current_Wall':'{{current_Wall}}','user':'{{user.get_username()}}'}});			
$('message').msg.clear();	
		
	

					
		
			Event.stop(e)
		}
	

		
			</script>
		
			
