
{% if can_use_wall %}
	<form id="message" action="/submit?user={{user.get_username()}}" method=POST>
	<textarea id="msg" placeholder="Write a message..." name="msg"></textarea>
	<input type="hidden" value="{{current_Wall}}" name="current_Wall"/>
	<input type="submit" value="Submit" id="submit"/></form>
	
{% end if %}

	<div id="wallcontent"></div>

	

	<script type="text/javascript">	
	Event.observe(window, 'load',init,false);
	function init(){
	Event.observe('message','submit',submit);
	new Ajax.PeriodicalUpdater('wallcontent', '/{{wallorfeed}}', {
		method: 'post', frequency: 5, decay: 0,
		parameters: {'current_Wall':'{{current_Wall}}','user':'{{user.get_username()}}'},
		});
	}
	
		function submit(e){
		if(document.getElementById("msg").value != ''){
		$('message').request();
	new Ajax.Updater('wallcontent','/{{wallorfeed}}',{
			method: 'post',
			parameters: {'current_Wall':'{{current_Wall}}','user':'{{user.get_username()}}'}});			
$('message').msg.clear();	
		
		}
		else{
		alert('The message you enetered was empty.');
		
		}
	

	

					
		
			Event.stop(e)
		}
	

		
			</script>
		
			
